body {
    font-size: 1.4em;
    margin: 0;
    background: white url("background.gif") repeat;
}

a {
    text-decoration: none;
}

h1 {
    color: #323232;
    font-weight: 400;
    font-size: 2em;
    padding: 0;
    letter-spacing: 0.02em;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 2px 4px;
    letter-spacing: 0.01em;
}

p {
    margin: 20px 0;
}

.barometer img{
    margin-top: 20px;
    height: 60px;
}

.container {
    background-color: white;
    padding: 0 30px;
    border-left: thin solid #e6e6e6;
    border-right: thin solid #e6e6e6;
    border-bottom: thin solid #e6e6e6;
}

.search-container {
    font-size: 0.9em;
    padding: 0 30px;
    margin: 0 -30px 10px -30px;
    background-color: #f2f2f2;
    border-bottom: thin solid #e6e6e6;
}

.breadcrumbs {
    line-height: 46px;
}

.breadcrumbs a {
    color: black;
}

.search-bar {
    padding: 5px 0;
    line-height: 12px;
    vertical-align: middle;
}

.title-field {
    color: white;
    padding: 5px;
    background-color: #9c0b3b;
}

.title-field2 {
    padding: 5px;
    background-color: #f2f2f2;
}

.menu-item {
    display: inline-block;
    padding: 10px 40px;
    border-bottom: thick solid white;
}

.menu-item:hover {
    border-bottom: thick solid #abe2fb;
}

.menu-item:not(:last-child) {
  border-right: thin solid #e6e6e6;
}

.menu-item a {
    color: black;
    text-decoration: none;
}

@media (min-width: 0px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 750px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 900px) {
   .container {
     width: 80%;
     max-width: 960px;
     margin-left: auto;
     margin-right: auto;
  }
}

.data-checkbox {
    margin: 10px 0;
}

.range-slider {
    margin: 10px 0 30px 0;
}

.pol-item {
    color: inherit;
    display: block;
    text-decoration: none;
    overflow: auto;
}

.pol-item:hover {
    background-color: #f2f2f2;
}

.pol-picture {
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
    float: left;
    clear: right;
    width: 39px;
    height: 39px;
    object-fit: contain;
}

.more-information {
    margin: 17px 5px;
    float: right;
}

.pol-table {
    margin-top: 8px;
}

.pol-table th, td {
    font-weight: normal;
    border: none;
    padding: 0 3px;
}

.footer {
    margin-top: 10px;
    font-size: 0.9em;
    border-top: thin solid #e6e6e6;
}

.research-list {
    margin: 20px 0;
}

.research-list span {
    margin: 10px;
}

.description {
    font-size: 0.9em;
    margin: 15px 0;
}

._dash-undo-redo {
  display: none;
}