body {
    font-size: 1.4em;
    margin: 0;
    background-color: #fcfcfc;
}

a {
    text-decoration: none;
}

h1 {
    color: #9c0b3b;
    font-weight: 500;
    font-size: 2.1em;
    letter-spacing: 1px;
    margin-top: 4px;
    margin-bottom: 12px;
}

h2 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 4px;
    letter-spacing: normal;
}

p {
    margin: 20px 0;
}

.barometer img{
    margin-top: 10px;
    height: 60px;
}

.header {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: thin solid #e6e6e6;
}

.logo {
    width: 400px;
    margin: 0 auto;
}

.container {
    background-color: white;
    padding: 0 20px 30px 20px;
    border-right: thin solid #e6e6e6;
    border-bottom: thin solid #e6e6e6;
    border-left: thin solid #e6e6e6;
}

.menu {
    text-align: center;
}

.search-container {
    font-size: 0.9em;
    padding: 0 30px;
    margin: 0 -20px 10px -20px;
    background-color: #f2f2f2;
}

.breadcrumbs {
    line-height: 46px;
}

.breadcrumbs a {
    color: black;
}

.search-bar {
    padding: 5px 0;
    line-height: 12px;
    vertical-align: middle;
}

.title-field {
    color: white;
    padding: 5px;
    background-color: #9c0b3b;
}

.title-field2 {
    padding: 5px;
    background-color: #f2f2f2;
}

.menu-item {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    border-bottom: thick solid white;
}

.menu-item:hover {
    border-bottom: thick solid #abe2fb;
}

@media (min-width: 0px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 750px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 900px) {
   .container {
     width: 80%;
     max-width: 960px;
     margin-left: auto;
     margin-right: auto;
  }
}

.data-checkbox {
    margin: 10px 0;
}

.range-slider {
    margin: 10px 0 30px 0;
}

.pol-item {
    color: inherit;
    display: block;
    text-decoration: none;
    overflow: auto;
}

.pol-item:hover {
    background-color: #f2f2f2;
}

.pol-picture {
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
    float: left;
    clear: right;
    width: 39px;
    height: 39px;
    object-fit: contain;
}

.more-information {
    margin: 17px 5px;
    float: right;
}

.pol-table {
    margin-top: 8px;
}

.pol-table th, td {
    font-weight: normal;
    border: none;
    padding: 0 3px;
}

.word-cloud-placeholder {
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    line-height: 100px;
    margin: 0 auto;
}

.footer {
    margin-top: 10px;
    font-size: 0.9em;
    border-top: thin solid #e6e6e6;
}

.research-list {
    margin: 20px 0;
}

.research-list span {
    margin: 10px;
}

.description {
    font-size: 0.9em;
    margin: 10px 0;
}

._dash-undo-redo {
  display: none;
}

.cursor-pointer {
    cursor: auto!important;
}

.plotly-notifier {
    display: none!important;
}